.spacer {
    flex: 1 1 auto;
  }

  .header {
    background:   linear-gradient(100deg, #12aeb5, #ffffff);
  }


.logo{
    width: 55px;;
    padding-right: 5px;
}

.banner-text{
  font-family: 'Permanent Marker', sans-serif;
  font-size: 30px;
}