.spacer {
    flex: 1 1 auto;
  }

  .header {
    background:   linear-gradient(-59deg, #e3840f, #12aeb5);
  }


.logo{
    width: 55px;;
    padding-right: 5px;
}

.banner-text{
  font-family: 'Permanent Marker', sans-serif;
  font-size: 30px;
}