  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar header">
    <div class="container">

      <a class="navbar-brand waves-effect"  routerLink="" >
        <!-- <img class="logo" src="assets/images/logo.jpeg"> -->
      <!-- <strong class="blue-text">Altrooist</strong> -->
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item" [ngClass]="{'active': router.url=='/'}">
            <a class="nav-link waves-effect" routerLink="">Home</a>
              <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item" [ngClass]="{'active': router.url=='/product'}">
            <a class="nav-link waves-effect" routerLink="product">Products
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
        </ul>

        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> 1 </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/altro_oist/" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-facebook-f fa-lg"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/altro_oist/" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter fa-lg"></i>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="postLogin()" class="nav-link border border-light rounded waves-effect"
              target="_blank">
              <img width="20px" style="margin-bottom:3px; margin-right:5px" 
              alt="Google sign-in"
               src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
              Login With Google
            </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>