<mat-toolbar class="header  ">
    <button mat-icon-button (click)="drawer.toggle()">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Altrooist</span>
   <span class="spacer"></span>
   <button mat-icon-button >
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button >
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matBadge="8" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
  <button mat-icon-button (click)="postLogin()">
    <mat-icon>login</mat-icon>
  </button>
 </mat-toolbar>