<footer class="mainfooter" role="contentinfo">
	<div class="footer-middle">
	<div class="container">
	  <div class="row">
		<div class="col-md-3 col-sm-6">
		  <!--Column1-->
		  <div class="footer-pad">
			<h4>Site Map</h4>
			<ul class="list-unstyled">
			  <li><a routerLink="">Home</a></li>
			  <li><a routerLink="about-us">About Us</a></li>
			  <li><a routerLink="contact-us">Contact Directory</a></li>
			  <li><a routerLink="service">Services</a></li>
			  <li><a routerLink="jobseeker">Job Seeker</a></li>
			  <li><a routerLink="employer">Employer</a></li>
			</ul>
		  </div>
        </div>
		  <div class="col-md-2 offset-md-7">
			  <h4>Follow Us</h4>
			  <ul class="social-network social-circle">
			   <li><a href="https://www.facebook.com/Najah-Human-Resources-103536114682558/" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
			   <li><a href="https://www.linkedin.com/company/najah-human-resources" class="icoLinkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
			   <li><a href="http://twitter.com/HrNajah" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
			  </ul>				
		  </div>
	  </div>
	  <div class="row">
		  <div class="col-md-12 copy">
			  <p class="text-center">&copy; Copyright 2020 - Altrooist.  All rights reserved.</p>
		  </div>
	  </div>
  
  
	</div>
	</div>
  </footer>