/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clickable{
    cursor: pointer;
}

.fa-facebook-f{
    color: #3b5998;
}

.fa-twitter{
    color: #1da1f2;
}

.fa-instagram{
    border-radius: 5px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    padding: 1px 3px 0px 2px;
}
.margin-top{
    margin-top: 20px;
}

main{
    min-height: 100vh;
}