  .name{
    font-weight: 200;
    font-size: 26px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(59deg,  #3A6073,#16222A,);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cart-card{
    padding:10px;
}

.prod-details{
    border-bottom: 1px solid  #16222A;
}
.prod-details-inner{
    margin-top: 30px;
}